.container {
  position: relative;
  margin: 20px auto;
  padding: 0 clamp(0px, 10vw, 150px);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
    margin: 0 auto;
  }
}

.containerTitle {
  font-family: "Satisfy", sans-serif;
  text-align: center;
  font-size: clamp(32px, 5vw, 52px);
  margin: clamp(0px, 5vw, 30px) 0;
}

.featureContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
