:root {
  --primary-color: #59cf1e;
  --default-color: #333333;
  --promotion-gift: #00b1ff;
  --promotion-discount: #ff696f;
  --promotion-1plus1: #8f64ff;
  --new-badge: #7ba4cc;
  --star: #f0e65f;
  --secondary-color: #e88383;
  --clock: #8dd5f4;
  --skeleton: #e0e0e0;
  --restaurant: #999999;
}
